<div class='panel panel-success'>
	<div class='panel-heading'>
		<a class="btn btn-success pull-left" ng-click="toPhone(phone.index - 1)" type="button">
			<span class="glyphicon glyphicon-menu-left"></span>Previous
		</a>
		<a class="btn btn-success pull-right" ng-click="toPhone(phone.index + 1)" type="button">
			Next<span class="glyphicon glyphicon-menu-right"></span>
		</a>

		<h3 class='text-center'>{{ phone.name }} <b>{{ phone.price | currency }}</b>
			<a class="btn btn-success" ng-click="addPhone(phone)" type="button">
				<span class="glyphicon glyphicon-plus"></span>ADD
			</a>
		</h3>
	</div>

	<div class='panel-body'>
		<p><b>{{ phone.description }}</b></p>

		<div class="text-center col-xs-12 col-md-8">
			<div class="col-xs-12 col-md-4 col-md-offset-4 slider" ng-init="currentImage = 0">
				<img ng-animate="'animate'" ng-repeat="img in phone.images" class="slide" ng-src='{{ "data/" + img}}' ng-show="currentImage == $index" />
			</div>

			<div class="col-md-12 text-center">
				<img class='col-xs-4 col-sm-3 col-md-2' ng-repeat="img in phone.images" ng-src='{{ "data/" + img}}' ng-click="setCurrentImage($index)"/>
			</div>
		</div>

		<div class="col-xs-12 col-md-4 table-responsive">
			<table class="table table-striped">
				<th colspan="4" class="text-center"><b>SPECIFICATIONS</b></th>
				<tr>
					<td><b>OS</b></td>
					<td>{{ phone.android.os }}</td>
					<td><b>Display Resolution</b></td>
					<td>{{ phone.display.screenResolution }}</td>
				</tr>

				<tr>
					<td><b>Display size</b></td>
					<td>{{ phone.display.screenSize }}</td>
					<td><b>Touch Screen</b></td>
					<td>
						<span ng-if="phone.display.touchScreen" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					  <span ng-if="!phone.display.touchScreen" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</td>
				</tr>

				<tr>
					<td><b>CPU</b></td>
					<td>{{ phone.hardware.cpu }}</td>
					<td><b>Accelerometer</b></td>
					<td>
						<span ng-if="phone.hardware.accelerometer" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						<span ng-if="!phone.hardware.accelerometer" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</td>
				</tr>

				<tr>
					<td><b>FM Radio</b></td>
					<td>
						<span ng-if="phone.hardware.fmRadio" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						<span ng-if="!phone.hardware.fmRadio" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</td>
					<td><b>GPS</b></td>
					<td>
						<span ng-if="phone.connectivity.gps" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						<span ng-if="!phone.connectivity.gps" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</td>
				</tr>

				<tr>
					<td><b>Size and Weight</b></td>
					<td ng-repeat="dimension in phone.sizeAndWeight.dimensions">{{ dimension }}</td>
				</tr>
			</table>
		</div>

		<div>
			<ul>
				<h4>Reviews</h4>

				<li ng-repeat="review in phone.reviews">
					<div>
						<strong>{{ review.stars }} Stars</strong>
						{{ review.body }}
						<cite class="clearfix">- {{ review.author }} on {{review.createdOn | date}}</cite>
					</div>
				</li>
			</ul>

			<form name="reviewForm" ng-submit="reviewForm.$valid && addReview()" novalidate>
				<div>
					<strong>{{review.stars}} Stars</strong>
					{{review.body}}
					<cite class="clearfix">-{{review.author}}</cite>
				</div>

				<h4>Submit a Review</h4>

				<fieldset class="form-group">
					<select ng-model="review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" required>
						<option value="">Rate {{ phone.name }}</option>
					</select>
				</fieldset>
				<fieldset class="form-group">
					<textarea ng-model="review.body" class="form-control" placeholder="Write a short review of the phone..." title="Review"></textarea>
				</fieldset>
				<fieldset class="form-group">
					<input ng-model="review.author" type="email" class="form-control" placeholder="janedoe@example.org" title="Email" required />
				</fieldset>
				<fieldset class="form-group">
					<input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
				</fieldset>
			</form>
		</div>
	</div>
</div>





