<div class='panel panel-success text-center'>
	<div class='panel-heading'>
		<h3 class='panel-title home__item__header'><a href='{{ "#/data/phones/" + phone.id }}'>{{ phone.name }}</a></h3>
	</div>

	<div class='panel-body'>
		<a href='{{ "#/data/phones/" + phone.id }}' class="home__item__link">
			<img ng-src='{{ "data/" + phone.imageUrl}}' alt='{{ phone.name + setIndex(phone, $index)}}' class="home__item__thumb" />
			<p class="home__item__price">{{ phone.price | currency}}</p>
		</a>

		<input class="btn btn-success home__item__button" type="button" ng-click="addPhone(phone)" value="Add to cart">
	</div>
</div>