	<div class="btn-toolbar pull-left" role="toolbar">
		<div class="btn-group" role="group">
			<a class="btn btn-warning" href="#/" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
		</div>

		<div class="btn-group" role="group" ng-show="path == '/'">
			<button type="button" class="btn btn-default" ng-click="reverseP = !reverseP; setOrder(orders.price.type, reverseP)" ng-init="reverseP = false">
				{{ orders.price.name }}
				<span class="glyphicon" ng-class="{'glyphicon-sort-by-order' : reverseP, 'glyphicon-sort-by-order-alt' : !reverseP}"></span>
			</button>

			<button type="button" class="btn btn-default" ng-click="reverseN = !reverseN; setOrder(orders.name.type, reverseN)" ng-init="reverseN = false">
				{{ orders.name.name }}
				<span class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet' : reverseN, 'glyphicon-sort-by-alphabet-alt' : !reverseN}"></span>
			</button>
		</div>
	</div>

	<div class='text-right pull-right'>
		<a href="#/cart">
			<p class="h4 text-success">
				<span class="glyphicon glyphicon-shopping-cart"></span>
				<strong>{{ price | currency }}</strong></p>
		</a>
	</div>