<ul class="nav nav-pills">
	<li role="presentation">
		<a href="#/{{ menuItems.home.path }}" class="menu__item__link"><span class="glyphicon glyphicon-home"></span>{{ menuItems.home.name }}</a>
	</li>

	<li role="presentation">
		<a href="#/{{ menuItems.about.path }}" class="menu__item__link"><span class="glyphicon glyphicon-question-sign"></span>{{ menuItems.about.name }}</a>
	</li>

	<li role="presentation">
		<a href="#/{{ menuItems.contactUs.path }}" class="menu__item__link"><span class="glyphicon glyphicon-send"></span>{{ menuItems.contactUs.name }}</a>
	</li>

	<li class="input-group col-xs-12 col-md-4 pull-right" ng-if="path == '/'">
		<input type="text" class="form-control" placeholder="Find a product..." ng-keyUp="menuCtrl.searcher(searcher)" ng-model="searcher" />
	</li>
</ul>