<div class='panel panel-success'>
	<div class='panel-heading'>
		<h3 class='text-center'>Your Shopping Cart</h3>
	</div>

	<div class='panel-body'>
		<div class="row">
			<div ng-repeat="phone in phones track by $index" class="col-xs-12 col-sm-6 col-md-4 cart__item">
				<a href='{{ "#/data/phones/" + phone.id }}' class="col-xs-12 col-md-8 col-md-push-2">
					<img src='{{ "data/" + (phone.imageUrl || phone.images[0])}}' alt='{{ phone.name }}' class="img-responsive"/>
				</a>

				<div class="btn-group-vertical" role="group" aria-label="...">
					<a class="btn btn-info" href='{{ "#/data/phones/" + phone.id }}'>{{ phone.name }}</a>

					<div class="btn-group btn-group-justified" role="group">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-success">{{ phone.price | currency}}</button>
						</div>

						<div class="btn-group" role="group">
							<button type="button" class="btn btn-danger" ng-click='removePhone($index)'><span class="glyphicon glyphicon-remove"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div ng-controller="OrderCtrl as orderCtrl" class="col-md-4 col-md-offset-4 col-xs-12">
			<form name="orderForm" ng-submit="orderForm.$valid && orderCtrl.confirmOrder()" novalidate>
				<div class="panel panel-info">
					<div class='panel-heading text-center'>
						<strong>Your Order</strong>
					</div>

					<div class='panel-body'>
						<strong>Name: {{orderCtrl.order.name}}</strong>
						<cite class="clearfix">M@il: {{orderCtrl.order.author}}</cite>
						<strong>Tel: {{orderCtrl.order.number}}</strong>
						<p><strong>Total Price: {{ price | currency }}</strong></p>
					</div>
				</div>

				<h4>Submit a Review</h4>

				<fieldset class="form-group">
					<input ng-model="orderCtrl.order.name" type="text" class="form-control" placeholder="Jane Doe" title="Name" required />
				</fieldset>
				<fieldset class="form-group">
					<input ng-model="orderCtrl.order.author" type="email" class="form-control" placeholder="janedoe@example.org" title="Email" required />
				</fieldset>
				<fieldset class="form-group">
					<input ng-model="orderCtrl.order.number" type="number" ng-minlength="7" ng-maxlength="14" class="form-control" placeholder="+38(0XX)-123-45-67" title="Number" required />
				</fieldset>
				<fieldset class="form-group">
					<input type="submit" class="btn btn-primary pull-right" value="Submit Order" />
				</fieldset>
			</form>
		</div>
	</div>
</div>